* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  color: white;
  line-height: 1.5rem;
}

h3,
h4 {
  color: black;
}

ul {
  list-style-type: none;
  gap: 1.2rem;
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-family: "Faustina", serif;
  font-weight: 400;
  color: black;
  text-align: justify;
}

.header {
  background-color: #00072D;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.header__nav ul {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.header__nav ul li {
  text-align: center;
  padding: 0.3rem;
  font-size: 0.9rem;
}
.header__iconos {
  display: none;
}
@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: 0px;
    align-content: center;
  }
  .header ul {
    display: flex;
  }
  .header ul li:hover {
    filter: drop-shadow(0px 8px 10px white);
    border-radius: 5px;
    font-size: 1.1rem;
    transition: 0.8s;
  }
  .header__iconos {
    display: flex;
  }
  .header__iconos li {
    list-style-type: none;
    display: inline-block;
  }
  .header__nav {
    display: flex;
    gap: 0.5rem;
  }
  .header__nav li {
    list-style-type: none;
    display: inline-block;
  }
  .header .bi {
    font-size: 2rem;
  }
}

.banner, .banner-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagenes/vla-bannerhome.webp);
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FDFFFC;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media (min-width: 768px) {
  .banner, .banner-galeria {
    height: 65vh;
    background-size: 100% 75vh;
    font-size: 2rem;
  }
  .banner h2, .banner-galeria h2 {
    opacity: 0.45;
  }
}

.banner-galeria {
  background-image: url(../imagenes/banner-galeria.webp);
  color: #00072D;
}

.atractivos-banner {
  background-image: url(../imagenes/banner-atractivos.jpg);
}

.alojamientos-banner {
  background-image: url(../imagenes/Alojamientos.webp);
}

.footer {
  background-color: #00072D;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.footer__logo {
  border-radius: 75px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.footer__adress {
  font-family: "Faustina", serif;
  font-weight: 400;
  color: black;
  text-align: justify;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .footer__adress {
    width: 50%;
  }
}

.tarjeta {
  width: 85%;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 450px;
  background-color: rgba(250, 235, 215, 0.463);
  border-radius: 2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.918);
  border-top: 3.5px solid black;
  border-left: 3px solid #00072D;
}
.tarjeta__titulo {
  padding-top: 0.5rem;
}
.tarjeta__texto {
  padding: 0.8rem 1rem;
}
.tarjeta__img {
  width: 100%;
  height: 45vh;
  border-radius: 5px;
  border-top: 3px solid black;
  object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1.2rem;
  gap: 1.2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 1450px;
}
.main__articulo p {
  font-family: "Faustina", serif;
  font-weight: 400;
  color: black;
  text-align: justify;
}
.main .contenedor-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 60vh;
}
.main .mapa {
  width: 80%;
  height: 70vh;
}
@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 70vh;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem 2rem 2rem;
    margin: 0 auto;
  }
  .main__articulo {
    height: auto;
    scale: 0.8;
  }
  .main__articulo:hover {
    scale: 1;
    transition: 1s;
  }
  .main .contenedor-mapa {
    grid-column: 1/span2;
    grid-row: 2/span1;
    height: auto;
    background-color: rgba(250, 235, 215, 0.463);
    border-radius: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.918);
    border-top: 3.5px solid black;
  }
  .main .mapa {
    margin-top: 1rem;
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .atractivos {
    display: grid;
    grid-template-areas: "intro intro" "bosque manzano" "lagos lagos" "correntoso bayo";
    grid-template-columns: 80vh 80vh;
    grid-template-rows: auto repeat(3, auto);
    text-align: center;
    justify-content: center;
    gap: 1.2rem;
  }
  .intro {
    grid-area: intro;
    background-color: rgba(250, 235, 215, 0.463);
  }
  .bosque {
    grid-area: bosque;
    background-color: rgba(250, 235, 215, 0.463);
  }
  .lagos {
    grid-area: lagos;
    background-color: rgba(250, 235, 215, 0.463);
  }
  .manzano {
    grid-area: manzano;
    background-color: rgba(250, 235, 215, 0.463);
  }
  .correntoso {
    grid-area: correntoso;
    background-color: rgba(250, 235, 215, 0.463);
  }
  .bayo {
    grid-area: bayo;
    background-color: rgba(250, 235, 215, 0.463);
  }
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.galeria img {
  width: 90%;
  height: 300px;
  max-width: 450px;
  padding-bottom: 1.2rem;
}
@media (min-width: 1024px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(8, 60vh);
    padding: 1rem 3rem;
    gap: 1.5rem;
    margin: 0 auto;
    justify-content: center;
  }
  .galeria img {
    width: 100%;
    height: 100%;
  }
  .galeria img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
  .galeria .imagen-grande {
    grid-column: 1/3;
    grid-row: 1/3;
    max-width: 1100px;
  }
  .galeria .img-grande {
    grid-column: 1/3;
    grid-row: 5/7;
    max-width: 1100px;
  }
}

.contacto {
  font-family: "Faustina", serif;
  font-weight: 400;
  color: black;
  text-align: justify;
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0 auto;
}
.contacto h3 {
  text-align: center;
  padding-bottom: 1rem;
}
.contacto__campo {
  margin-bottom: 15px;
}
.contacto__boton {
  padding: 10px 20px;
  background-color: #00072D;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.contacto__boton:hover {
  background-color: blueviolet;
  transform: scale(1.1);
  transition: 1s;
}
.contacto label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contacto input[type=text],
.contacto input[type=email],
.contacto textarea {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #00072D;
  border-radius: 5px;
}
.contacto input[type=text]:hover,
.contacto input[type=email]:hover,
.contacto textarea:hover {
  box-shadow: 5px 5px 10px #00072D;
  transform: scale(1.1);
  transition: 1s;
}
.contacto .novedades {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

.tarjeta {
  overflow: hidden;
}
.tarjeta__iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #00072D;
  padding: 0.3rem;
}
.tarjeta__iconos--item {
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .alojamientos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .alojamientos .tarjeta {
    max-width: 750px;
  }
  .alojamientos .tarjeta:hover {
    transform: rotate(360deg);
    transition: 1s;
  }
  .alojamientos__contain {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 50px 40vh;
    justify-content: center;
    align-items: center;
  }
  .alojamientos__contain h3 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .alojamientos__contain img {
    grid-column: 2/3;
    grid-row: 2/3;
    border-top: none;
    width: 90%;
    max-width: 350px;
    height: 35vh;
  }
  .alojamientos__contain p {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0 2.3rem;
  }
  .alojamientos__contain ul {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: rgba(250, 235, 215, 0.037);
  }
  .alojamientos__contain ul li a {
    color: black;
  }
}

/*# sourceMappingURL=styles.css.map */
