$ff-montserrat: 'Montserrat', sans-serif;
$ff-faustina: 'Faustina', serif;
$fw-600: 600;
$fw-400: 400;
$fw-900: 900;
$bc-blue: #00072D;
$bc-tarjeta: rgba(250, 235, 215, 0.463);
$padding: 1rem;
$margin-auto: 0 auto;
$b-radius: 5px;
$gap: 1.2rem;
$c-blanco: white;
$c-negro: black;
$text-center: center;
$h-auto: auto;
$h-60vh: 60vh;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centrado {
    margin: 0 auto;
    max-width: 1450px;
}

@mixin ff-encabezado {
    font-family: $ff-montserrat;
    font-weight: $fw-900;
    font-size: 1.3rem;
    color: $c-blanco;
    line-height: 1.5rem;
}

@mixin textos {
    font-family: $ff-faustina;
    font-weight: $fw-400;
    color: $c-negro;
    text-align: justify;
}

@mixin barra-nav {
    font-family: $ff-montserrat;
    font-weight: 600;
}

@mixin flexbox($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin header-footer {
    background-color: $bc-blue;
    color: $c-blanco;
    padding: $padding;
    @include flexbox();
    flex-direction: column;
    gap: $gap;
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin fondo-main {
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem 2rem 2rem 2rem;
    margin: $margin-auto;
    object-fit: cover;
}

h1 {
    @include ff-encabezado()
}

h3,
h4 {
    @extend h1;
    color: $c-negro;
}

ul {
    list-style-type: none;
    gap: $gap;
}

a {
    color: $c-blanco;
    text-decoration: none;
}

p {
    @include textos()
}



//declaraciones generales del sitio, ejemplo h1-2 p que se estilizan igual
//estiquetas a por ejemplo

//variables de familia tipofrafica
//$ff-montserrat: "nombre de la fontfamily"

//variables para colores
//$c-blanco:#color