@include desktop {
    .atractivos {
        display: grid;
        grid-template-areas:
            "intro intro"
            "bosque manzano"
            "lagos lagos"
            "correntoso bayo";
        grid-template-columns: 80vh 80vh;
        grid-template-rows: auto repeat(3, auto);
        text-align: $text-center;
        justify-content: center;
        gap: $gap;

    }

    .intro {
        grid-area: intro;
        background-color: $bc-tarjeta
    }

    .bosque {
        grid-area: bosque;
        background-color: $bc-tarjeta;
    }

    .lagos {
        grid-area: lagos;
        background-color: $bc-tarjeta;
    }

    .manzano {
        grid-area: manzano;
        background-color: $bc-tarjeta;
    }

    .correntoso {
        grid-area: correntoso;
        background-color: $bc-tarjeta;
    }

    .bayo {
        grid-area: bayo;
        background-color: $bc-tarjeta;
    }


}