.main {
    @include flex-column;
    background-color: $c-blanco;
    text-align: $text-center;
    line-height: 1.2rem;
    font-size: 1.2rem;
    gap: $gap;
    margin: $margin-auto;
    margin-bottom: 1rem;
    max-width: 1450px;

    &__articulo p {
        @include textos;
    }

    & .contenedor-mapa {
        @include flex-column;
        align-items: center;
        text-align: $text-center;
        height: $h-60vh;
    }

    & .mapa {
        width: 80%;
        height: 70vh;
    }



    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 70vh;
        @include fondo-main;

        &__articulo {
            height: $h-auto;
            scale: 0.8;

            &:hover {
        scale: 1;
        transition: 1s;
    }
        }

        & .contenedor-mapa {
            grid-column: 1/span2;
            grid-row: 2/span1;
            height: $h-auto;
            background-color: $bc-tarjeta;
            border-radius: 2rem;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.918);
            border-top: 3.5px solid black;
        }

        & .mapa {
            margin-top: 1rem;
            height: $h-60vh;
        }

    }


}