.banner {
    @include flexbox(center, center);
    background-image: url(../imagenes/vla-bannerhome.webp);
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FDFFFC;
    text-align: center;
    font-size: 1rem;
    font-family: $ff-montserrat;
    font-weight: $fw-600;
    object-fit: cover;

    @include tablet {
        height: 65vh;
        background-size: 100% 75vh;
        font-size: 2rem;


        h2 {
            opacity: 0.45;
        }
    }

}


.banner-galeria {
    @extend .banner;
    background-image: url(../imagenes/manzano.jpg);
}

.atractivos-banner {
    background-image: url(../imagenes/banner-atractivos.jpg);
}

.alojamientos-banner {
    background-image: url(../imagenes/Alojamientos.webp);
}

.contacto-banner {
    background-image: url(../imagenes/galeria8.jpg);
}