.footer {
    @include header-footer;

    &__logo {
        border-radius: 75px;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        animation: logo-footer 5s linear infinite;
    }

    &__adress {
        @include textos;
        color: $c-blanco;
        font-size: 1.3rem;
        text-align: $text-center;
    }

    @include desktop {
        @include flexbox(space-around, center);
        flex-direction: row;

        &__adress {
            width: 50%;
        }
    }
}



@keyframes logo-footer {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }